<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/Controller/HomeScreen.css"> <!--Linking styling sheet to home page login and register-->

  <h1>Millenium Money</h1> <!--Website Name-->

<body>
  <div class="container">
    <button type="button"><a href="Login.html">Login</a></button>    <!--Button to href to login page to get into website-->
    <br> <!--Link Break-->
    <button type="button">Register</button> <!--Button to href to registration page to create account on website-->
    <br> <!--Link Break-->
    
    <!--User to selct if they forgot their username or password-->
    <a href="ForgotPassword.html">Forgot Password?</a> <!--Button to href to forgot password page to recover password-->
    <a href="ForgotUsername.html">Forgot Username?</a> <!--Button to href to forgot username page to recover username-->
  </div>
</body>

</html>